$fcs-dark-green: #009335;
$fcs-light-green: #719f41;
$fcs-red: red;

body {
    font-family: 'Open Sans', sans-serif ! important;
}

.site-title {
    color: $fcs-dark-green ! important;
}
i.fas.ok,
i.far.ok {
    color: $fcs-light-green;
}
i.fas.not-ok,
i.far.not-ok {
    color: $fcs-red;
}

#main-content img {
    border: 1px solid #ccc;
}

#main-content p {
    text-align: justify;
}
