$fcs-dark-green: #fff;
$fcs-light-green: #719f41;
$fcs-red: red;

body {
    font-family: 'Open Sans', sans-serif ! important;
}
a {
    text-decoration: underline ! important;
}
a:hover {
    background-image: none ! important;
}
nav a {
    text-decoration: none ! important;
}
.site-title,
.icon {
    color: $fcs-dark-green ! important;
}
i.fas.ok,
i.far.ok {
    color: $fcs-light-green;
}
i.fas.not-ok,
i.far.not-ok {
    color: $fcs-red;
}
.label-green {
    background-color: $fcs-light-green ! important;
}
