<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if page.description %}
  <meta name="Description" content="{{ page.description }}">
  {% endif %}

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs-default.scss | absolute_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | absolute_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
</head>
