---
---

@import "{{ site.theme }}";

a:not(.btn), a:not(.btn):visited, a:not(.btn):active {
  color: #009335;
  text-decoration: none ! important;
}
a:not(.btn):hover {
    color: #006400;
    text-decoration: none;
}

.main-content {
    color: #000;
    font-size: 1.0rem;
    padding: 1rem;
}
.main-content ul,
.main-content ol {
    padding-left: 20px;
}
.main-content li {
    margin-bottom: 5px;
}
.project-name {
    margin-top: 0.5rem;
}
.project-name a {
    color: #fff ! important;
}
.project-name a:hover {
  color: #006400 ! important;
}
.project-tagline {
    margin-bottom: 1.5rem;
}
.page-header {
    padding: 5px;
    background-image: none;
    background-color: #719f41;
    text-align: left;
}
.page-header img.logo {
    float: right;
    margin-top: 22px;
}
.page-header .inner {
    width: 64rem;
    margin: 0 auto;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
    color: #009335;
}

.main-content img {
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.site-footer {
  font-size: .8rem;
  padding-top: 1rem;
  margin-top: 1rem;
}

i.fas.ok,
i.far.ok {
    color: #719f41;
}
i.fas.not-ok,
i.far.not-ok {
    color: red;
}

@media screen and (max-width: 42em) {
    .page-header .inner {
        width: 100%;
    }
    .btn {
        display: inline-block;
        margin-right: 5px;
        width: auto;
    }
    .page-header img.logo {
        float: left;
        margin-top: 0;
    }
    .page-header img.logo.rectangle {
        width: 70vw;
    }
    .page-header img.logo.square {
        width: 40vw;
    }
    .project-tagline {
        margin-bottom: 0;
        margin-top: 0;
    }
}
