<!DOCTYPE html>
<html lang="{{ site.lang | default: 'de-DE' }}">
  <head>
    <meta charset="UTF-8">
    <title>
      {{ page.title | default: site.title }}
      {% if page.title != site.title %}
        | {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#719f41">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> 
  </head>
  <body>
    
    <section class="page-header">
      <div class="inner">
        <a href="/">
            {% assign logo = 'foodcoopshop-logo.png' %}
            {% assign logoClass = 'rectangle' %}
            <img src="{{site.baseurl}}/assets/img/{{logo}}" class="logo {{logoClass}}" />
        </a>
        <h1 class="project-name"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="/" class="btn">Home</a>
        <a href="/de/" class="btn">Deutsch</a>
        <a href="/en/" class="btn">English</a>
        <a target="_blank" href="{{site.repo_url}}" class="btn">GitHub</a>
      </div>
    </section>

    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        If you want to update or translate this software documentation, <a href="{{site.github.repository_url}}/blob/master/CONTRIBUTING.md" target="_blank">please provide a pull request.</a> | <a href="{{site.github.repository_url}}/graphs/contributors" target="_blank">Imprint</a> | <a href="https://creativecommons.org/licenses/by/3.0/at/" target="_blank">License: CC BY 3.0 AT</a>
      </footer>
    </section>
  </body>
</html>
