<!DOCTYPE html>
<html lang="{{ site.lang | default: 'de-DE' }}">
  <head>
    <meta charset="UTF-8">
    <title>
      {{ page.title | default: site.title }}
      {% if page.title != site.title %}
        | {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#719f41">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> 
  </head>
  <body>
    
    <section class="page-header">
      <div class="inner">
        <a href="/">
            {% assign logo = 'foodcoopshop-logo.png' %}
            {{dump(page)}}
            {*
            {% if page.title in ['network-plugin', 'netzwerk-plugin'] %}
                {% assign logo = 'network-plugin-logo.png' %}
            {% endif %}
            *}
            <img src="{{site.baseurl}}/assets/img/{{logo}}" class="logo" />
        </a>
        <h1 class="project-name"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="/" class="btn">Home</a>
        <a href="/de/" class="btn">Deutsch</a>
        <a href="/en/" class="btn">English</a>
        <a target="_blank" href="{{site.repo_url}}" class="btn">GitHub</a>
      </div>
    </section>

    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        This software documentation is hosted in a <a href="{{site.github.repository_url}}" target="_blank">GitHub project</a>. If you want to update or translate it, <a href="{{site.github.repository_url}}/blob/master/CONTRIBUTING.md" target="_blank">please provide a pull request.</a> | <a href="{{site.github.repository_url}}/graphs/contributors" target="_blank">Imprint</a>
      </footer>
    </section>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//www.rothauer-it.com/pwk/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '6']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->    
    
  </body>
</html>
